name: Test Everything (All OS/Arch)

on:
  workflow_dispatch:
    inputs:
      kotlin-version:
        description: 'Override Kotlin version?'
        required: false
        default: ''
        type: string
      testballoon-version:
        description: 'Override TestBalloon version (full version string)?'
        required: false
        default: ''
        type: string

jobs:
  prepare-matrix:
    uses: ./.github/workflows/prepare-matrix.yml

  run-tests:
    needs: prepare-matrix
    uses: ./.github/workflows/run-matrix-tests.yml
    with:
      kotlin-version: ${{ inputs.kotlin-version }}
      testballoon-version: ${{ inputs.testballoon-version }}
      matrix: ${{ needs.prepare-matrix.outputs.matrix }}